body{
   background-color: rgb(221, 37, 129);

}

h1{
    color: bisque;
    font-family: serif;
}


#color-palette{
    display: inline-block;
    display: flex;
 }

#d1{
background-color: black;
padding: 50px;
}

#d2{
    background-color: blueviolet;
    padding: 50px;
}

#d3{
    background-color: chartreuse;
    padding: 50px;
}

#d4{
    background-color: aqua;
    padding: 50px;
}

.color{
    border: solid black 1px;
}

#pixel-board{
    display: flex;
    border: solid black 2px;
    flex-wrap: wrap;
    height: 210px;
    width: 210px;
}

.pixel{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: solid black 1px;
    height: 40px;
    width: 40px;
}

#bi{
    display: inline;
}